body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.orderFood{
    display: flex;
    margin-top: 80px;
}
.content{
    margin-top: 80px;
}
p{
    color: rgb(129, 129, 129);
    line-height: 27px;
    margin-bottom: 50px;
}
.orangeColor{
    color: orange;
}
h2,h1{
    color: rgb(73, 73, 73);
}
h1{
    font-size: 50px;
}
img{
    width: 100%;
}
.halfWith{
    width: 40%;
    padding: 0 5%;
}
.linkButton{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(45deg,#ffa467,#fa4929);
    padding: 12px 25px;
    border-radius: 25px;
    
}
.aboutSection{
    margin-top: 80px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutSection p{
    width: 90%;
}
.aboutSection_allContent{
    display: flex;
    padding-top: 50px;
}
.aboutSection_allContent img{
    width: 150%;
}
.all_recipies{
    display: flex;
    width: 90%;
    margin: 20px auto !important;
}
.single_recipies{
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 5px 5px 30px rgb(160, 160, 160);
    padding: 20px 20px;
    border-radius: 20px;
    margin-bottom: 100px;
}
.about_recipies{
    width: 50%;
    text-align: center;
    margin: 50px auto;
    display: block;
    overflow: hidden;
}
.client-contant{
    position: relative;
}
.client-comment p{
    color: whitesmoke;
    font-size: 20px;
}
.client-comment{
    width: 50%;
    position: absolute;
    top: 20px;
    right: 0px;
}
.social_follower{
    margin: 100px auto;
    width: 83%;
    display: flex;
    box-shadow: 5px 5px 30px rgb(160, 160, 160);
    padding: 20px 20px;
    border-radius: 20px;
}
.social_follower div{
    width: 20%;
    margin-left: 12%;
}
.social_follower h1{
    margin-bottom: -15px;
    color: rgb(0, 0, 0);
}
footer{
    background-color: rgb(19, 19, 19);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
footer h1{
    font-size: 35px;
}


